.purchaseOrder .item-wrap li b.dj{ margin-left: 2rem;}
.item-wrap li strong{ color: #f45252;}

.item-tips{ display: none; margin: .5rem 0; line-height: 32px; text-align: center; font-size: .9rem;}
.item-tips i{ display: inline-block; width: 32px; height: 32px; background: url(../img/public/icon-1.png) no-repeat; background-size: 32px 65px; margin-right: .3rem; vertical-align: top;}
.tips-success{ display: block; color: #0091cd;}
.tips-success i{ background-position: 0 0;}
.tips-error{ display: block; color: #f45252;}
.tips-error i{ background-position: 0 -33px;}
.item-total{ display: none; color: #0091cd; font-size: .8rem;}
.item-total-dj{ display: none; color: #f45252; font-size: .8rem;}
.item-link{ display: block; position: relative; color: #606060;}
/* 付款信息 */
.payInfoList{ background-color: #fff; padding: .5rem .5rem .2rem .5rem; margin-bottom: .5rem;}
.payInfoList li{ padding: .1rem 0; overflow: hidden; zoom:1;}
.payInfoList li span{ float: left; width: 4rem; text-align: right; color: #888;}
.payInfoList li p{ overflow: hidden; color: #606060}

/* 订单变更 */
.item-change li span:first-child{ width: auto;}
.item-wrap li.changeItem,.item-wrap li.changeItem span{ color: #f45252;}

/* 出货明细 */
.shipmentDetails .item-wrap li span:first-child{ width: 4.5rem;}

/* 答交弹层 */
.responseBox{ position: relative; background-color: #fff; padding:.3rem .1rem .3rem .5rem; border-bottom: 1px solid #ddd; margin-bottom: .5rem; text-align: left; color: #606060;}
.responseBox li{ padding: .15rem 0; clear: both;  overflow: hidden;}
.responseBox li.myProductInfo,.responseBox li.myProductInfo span{ color: #0091cd}
.responseBox li span,.responseBox h3 span{ float: left; color: #888; text-align: right;}
/*.responseBox li span:nth-child(4){ float: none;}*/
.responseBox li input{ width: 20%; height: 1.4rem; border: 1px solid #979797; padding: 0 .1rem; margin-right: .5rem; overflow: hidden;}
.responseBox li input.int03{ width: 30%; margin-right: 0; margin-left: 1.3rem;}
.timeBox{display: inline-block; width: 30%; height: 1.4rem; line-height: 1.4rem; border: 1px solid #979797; margin-left: 1rem; padding: 0 .1rem; vertical-align: middle;}
.responseBox li em{ float: left; display: inline-block; width: 22%; margin-right: .2rem; font-style: normal; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.responseBox li em.em03{ width: 25%;}
.responseBox li p{ overflow: hidden;}
.responseBox li i.btn-del{ display: inline-block; width: 1.6rem; height: 1.6rem; background: url(../img/public/del.png) no-repeat center; background-size:1rem 1rem; vertical-align: middle;}

.responseBox .btnBox{ padding: .6rem 0; text-align: center;}
.responseBox .btnBox a{ display: inline-block; border:1px solid #0091cd; padding: .15rem 1rem; line-height: 1.2rem; color: #0091cd;}
.responseBox h3{ padding-left: 1rem;}
.responseCost{ padding: 0 1rem;}
.responseCost li{ line-height: 1.4rem;}
.responseCost li span,.responseBox h3 span{ min-width: 4rem;}
.responseCost li input{ width: 4rem; margin-right: 1.5rem;}
.responseCost li input:last-child{ float: right;}
.responseBox li.myResponse,.responseBox li.addNewCost{ position: relative;}
.responseBox li.myResponse span{ color: #f45252;}
.hidden,.hidden .int02{ visibility: hidden;}
.responseBox li i.btn-del{ position: absolute; right: -.2rem; top: 0}
.responseBox li.addNewCost i.btn-del{ right: 0;}
.responseCost li.addNewCost input:nth-child(2){ float: right;}
.btns{ display: -webkit-box; display: box; width: 100%; margin: .5rem 0; text-align: center;}
.btns a{ -webkit-box-flex: 1; box-flex: 1; display: block; padding: .3rem; margin: 0 .5rem; color: #fff;}
.btns .btn-cancel{ background-color: #ccc;}
.btns .btn-save{ background-color: #0179D1;}

/* 其他费用 */
#othersCost .item-wrap li b:nth-child(2){ display: inline-block; width: 6rem;}

/* 答交 */
.orderCheckCon #prodAnswerInfo .response section span{ color: transparent;}
.orderCheckCon #prodAnswerInfo .response section span.nth0,.orderCheckCon #prodAnswerInfo .bfline,.orderCheckCon #prodAnswerInfo .bfline section span{ color: #f45252;}
.batchBox .bfline .timeBox{visibility:hidden;}

/* 变更 */
.purchase-change #prodBodyInfo .changeItem section span{ color: transparent;}
.purchase-change #prodBodyInfo .changeItem section span.nth0{ color: #f45252;}
.item-wrap-change input[type="text"]{ width: 5rem; height: 1.4rem; line-height: 1.4rem; border:1px solid #b0b0b0; padding:0 .2rem;}
.item-wrap-change li .timeBox{ margin-left: 0; border-color: #b0b0b0; width: 5rem; padding:0 .2rem;}
.return-sale .m-bottom-wrap .bottom-btn{ width: 40%;}
#orderChangeInfo li span,.receiveOrder .item-wrap li span{ min-width: 5rem;}

.select3-input .select3-single-select .select3-single-selected-item{ float: none; text-align: left; color: #000;}

@media screen and (max-width: 320px){
	.responseBox li .timeBox{ margin-left: .5rem;}
	.responseBox h3{ padding-left: 0;}
	.responseCost{ padding: 0 .5rem;}
	.responseBox li em{ width: 21%;}
}